<section>
  <h1>Todo List</h1>
  <form (ngSubmit)="filterTodo()">
    <p>
      A place to store your todos
      <input
        name="filter"
        [(ngModel)]="newFilter"
        id="filter"
        class="inputs"
        type="text"
        placeholder="Filter to Your Todos"
      />
    </p>
  </form>
  <ol id="list">
    <li
      [class.strike]="todoList.completed"
      *ngFor="let todoList of filterTodo(sampleTodo, newFilter)"
    >
      <button
        (click)="complete(todoList)"
        class="btn"
        *ngIf="!todoList.completed"
      >
        Complete
      </button>
      {{ todoList.task }}
      <i (click)="delete(todoList)" id="x" class="fa fa-trash"></i>
    </li>
    <form (ngSubmit)="addTodo()">
      <input
        [(ngModel)]="newTodo.task"
        class="inputs"
        name="input"
        type="text"
        placeholder="Add to Your To-Do's"
      />
      <p></p>
      <button class="addButton">Add</button>
    </form>
  </ol>
</section>
